.update{
    margin-top: 100px;
}
.update-card {
    
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    padding: 20px;
    margin: 0 auto;
}
.update-card form input{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 10px 0;
    width: 40%;
    border: 1px solid #ddd;
    padding: 10px;
}